<div>
  <div class="row">
    <div class="col-sm-12">รายการกลุ่มสินค้า</div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" (click)="add_new_category()">เพิ่มกลุ่มสินค้าใหม่</button>
    </div>
  </div>

  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Category name</th>
          <th>Description</th>
          <th>Product qty</th>
          <th>Cover img</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cate of categoryList">
          <td>{{cate.cate_name}}</td>
          <td>{{cate.cate_description}}</td>
          <td>{{cate.product_qty}}</td>
          <td>{{cate.cover_img}}</td>
          <td>{{cate.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div style="display:blocl;" *ngFor="let cate of categoryList"> {{cate.cate_name}} </div> -->
</div>
